streamlit==1.47.0
pandas==2.3.1
numpy==2.2.6
scikit-learn==1.7.1
matplotlib==3.10.3
seaborn==0.13.2
plotly==6.2.0
altair==5.5.0
shap==0.48.0
lime==0.2.0.1
scikit-image==0.25.2
ydata-profiling==4.17.0
